# http://editorconfig.org

# This is the root; don't need to continue searching in parent directories
root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
